<!DOCTYPE html>
<html>
  <head>
    <title>thesetimes - Share a set of times</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "jquery", "setup", "application" %>
    <%= csrf_meta_tag %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22643705-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <header>
      <h1>thesetimes</h1>
      <p class="tagline">Create a set of times and share it.</p>
    </header>

    <div id="container">
      <%= yield %>

      <aside>
        <p>The permalink for this schedule is <%= link_to "here", short_url(:key => @timeset.short_url)%>.</p>
        
        <h4>Howto:</h4>
        <p>Click on a time slot and drag down to create a time range. Save is automatic, just keep the permalink around.</p>
        <p>Delete time slots by clicking them.</p>
        
        <h4>Find an Error?</h4>
        <p>Email <a href="mailto:godin.aaron@gmail.com">me</a> and put "thesetimes" in the subject. I appreciate your help!</p>
      </aside>
    </div>

    <div class="clear"></div>

    <footer>Made by <a href="http://twitter.com/aarongodin">@aarongodin</a></footer>
  </body>
</html>
